# Node.js
server/node_modules/
server/.env
server/uploads/*
!server/uploads/.gitkeep
*.log
npm-debug.log*

# Flutter
shg/.dart_tool/
shg/.flutter-plugins
shg/.flutter-plugins-dependencies
shg/.packages
shg/.pub-cache/
shg/.pub/
shg/build/
shg/.idea/
shg/*.iml

# Android
shg/android/.gradle/
shg/android/captures/
shg/android/local.properties
shg/android/.idea/
shg/android/*.iml

# iOS
shg/ios/Pods/
shg/ios/.symlinks/
shg/ios/Flutter/Flutter.framework
shg/ios/Flutter/Flutter.podspec
shg/ios/.generated/

# Miscellaneous
*.class
*.lock
*.swp
.DS_Store
.atom/
.vscode/
*.code-workspace
